@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .aside-parent {
    margin-bottom: 20px;
  }
  
  .aside {
    max-height: 5px;
    opacity: 0;
    transform: perspective(600px) translate(0, -100%);
    transition: all 0.8s ease 0s;
  }
}